body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #0078d7;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

h1,
h2 {
  color: #0078d7;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0078d7;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}
